.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
  /* background-color: tomato; */
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.rigth {
  flex: 1;
  /* background-color: violet; */
}

.wrapper {
  width: 90%;
  max-width: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: teal;
  background-color: white;
  font-weight: bold;
  cursor: not-allowed;
  margin-top: 20px;
}
